{% extends 'base.html' %}
{% block title %}Corona Safe Date {% endblock %}
{% block body %}
  <h1>Corona Safe Date Generator</h1>
<h2>Welcome {{ session['current_user'] }} to your personalized date generator</h2>
  <div>You can have romantic dates or friend dates.
    We just want you to be able to see them and still feel as safe as possible.
  </div>
  <div>
  
    <form action="/create-person" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="relationship" placeholder="Relationship">

        
      Where would you like your date to be?

        <select name="location">
          <option value="is_outside">Outside only</option>
          <option value="is_at_home">Home only</option>
          <option value="both">Outside or Home</option>
        </select>
     
    </div>
  
    <div>
    
        How close are you comfortable being to your date?
  
        <input type="radio" name="bubble" value="is_video">
        <label>I'm only comfortable with video dates for now.</label>
  
        <input type="radio" name="bubble" value="is_socially_distant">
        <label>I would love to see them in person but we should stay 6ft apart.
        </label>
  
        <input type="radio" name="bubble" value="is_co_quarantined">
        <label>We are already co-quarantined or they are part of my corona family
          so we dont have to distance.</label>
      

  
    <input type="submit" value="Save Preferences!">
   
  </div>

  <div>
  </div>

  <div>

    </form>
  </div>



{% endblock %}