{% extends 'base.html' %}
{% block title %}Corona Safe Date {% endblock %}
{% block body %}
  <h1>Corona Safe Date Generator</h1>
<h2>Welcome {{ session['current_user'] }} to your personalized date generator</h2>
  <div>You can have romantic dates or friend dates.
    We just want you to be able to see them and still feel as safe as possible.
  </div>
  <div>
  
    <form action="/create-person-pref" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="relationship" placeholder="Relationship">
    
        

  
    <input type="submit" value="Save Preferences!">
   
  </div>

  <div>
  </div>

  <div>

    </form>
  </div>



{% endblock %}