

{% extends 'base.html' %}
{% block title %}Dates Liked{% endblock %}
{% block body %}

<h2>Liked Dates</h2>
<main class="container my-5">
<div class="card-columns row pb-5">
{% for liked_date in liked_dates %}


<div class="card-deck col">



<div class="card my-3">
  <div class="img-frame">
  <img class="card-img-top" src="{{ liked_date.idea.picture }}" alt="Card image">
  <!-- <div class="card-img-overlay"> -->
  </div>
    <h4 class="card-title">{{ liked_date.idea.date_name }}</h4>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">See Date Description</a>
  <!-- </div></div> -->

</div>

</div>{% endfor %}
<!-- </div> -->
</div>
</main>
{% endblock %}