{% extends 'base.html' %}
{% block title %}Corona Safe Date {% endblock %}
{% block body %}
  <h2>Saved Preferences</h2>
  <main class="screen-box">
  <div>
    <h4>You can have romantic dates or friend dates.
    We just want you to be able to see them and still feel as safe as possible.
    </h4>
  </div>
  <div>
    <h5>Create a new person!</h5>
  
    <form action="/create-person-pref">
      <input class="button" type="submit" name="new-person" value="New!">
      
    </form>
  </div>
  <div>
    <form action="/generate/name">
    <h5>Click a person to generate a date with them!</h5>
    
    {% for person in date_people %}
    <person class="person">
      <input class="button" type="submit"  name="name" value={{person.name}}>{{person.relationship_type}}
    </person> 
    {% endfor %}
    </form>
  </div>
</main>


{% endblock %}