

{% extends 'base.html' %}
{% block title %}Dates Liked{% endblock %}
{% block body %}

<h2>Welcome {{ session['current_user'] }} to your liked dates!</h2>

{% for liked_date in liked_dates %}


<!-- <div class="card-deck"> -->
<div class="card-columns">
<div class="card container" style="width:500px">
  <img class="card-img-top" src="{{ liked_date.idea.picture }}" alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title">{{ liked_date.idea.date_name }}</h4>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">See Date Description</a>
  </div>
</div>
</div>{% endfor %}
<!-- </div> -->

{% endblock %}