

{% extends 'base.html' %}
{% block title %}Preference Selection{% endblock %}
{% block body %}
<h1>Main Menu</h1>
<h2>Welcome {{ session['current_user'] }}</h2> 

<h3>What would you like to do?</h3>
<!-- <form>
  <input type='submit' value='Generate a date!'>
</form>


<form> 
  <input type='submit' value='View your liked dates!'>
</form> -->

<ul>
  <li><a href="/generate-date">Generate a Date Idea</a></li>
  <li><a href="/dates-liked">View Your Liked Dates</a></li>
  <li><a href="/date-people">Go To Presaved Settings</a></li>
</ul>

{% endblock %}