{% extends 'base.html' %}
{% block head %}
{% block title %}{% endblock %}
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
<style>
  #map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30em;
    width: 30em;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
<script src="/static/js/map.js"></script>
{% endblock %}
{% block body %}
<main class="map-box">
<div class="container-map"><h3>Outdoor Date Locations</h3>
<div><h5>Search for a date location or type to find places near you!</h5>
</div>
<input id="pac-input">
<div id="map">
</div>
</div>
</main>


{% endblock %}