{% extends 'base.html' %}
{% block head %}
{% block title %}{% endblock %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYRY36wqk-usmwctc5rpfSYbe88wZVIF0&callback=initMap&libraries=&v=weekly"
  defer
></script>
<style>
  #map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30em;
    width: 30em;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->
<script src="/static/js/map.js"></script>
{% endblock %}
{% block body %}
<main class="map-box">
<div class="container-map"><h3>Verified Outdoor Date Locations</h3>
<div><h5>Mouse over pins for location names</h5>
</div>
<div id="map">
</div>
</div>
</main>


{% endblock %}